{% extends 'layout.html' %}
{% block content %}

  {% for post in posts %}
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title my-post-card">{{post.title | safe}</h5>
        <p class="card-text"></p>
        <a href="{{url_for('posts.article', slug=post.slug)}}" class="btn btn-primary my-post-btn">Discover &rarr;</a>
      </div>
      <div class="card-footer text-muted">
      <p>
        Posted on {{ post.date_posted.strftime('%d %b %Y') }} by  
        {{post.author | safe}} ({{post.comment.count()}} Comments)
      </p>
      </div>
    </div>
  {% endfor %}
{% endblock content %}