<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&amp;display=swap" rel="stylesheet">
    <title>Unyime Etim</title>
  </head>
  <body>
   <!-- Image and text -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(10, 64, 114) !important;" id="navbar">
      <a class="navbar-brand special" href="#">Unyime Etim</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-texts">
          <a class="nav-item nav-link active" href="#welcome-section">About<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#projects">Work</a>
          <a class="nav-item nav-link" href="#contact-section">Contact</a>
        </div>
      </div>
    </nav>

    <div>
      <!--  Welcome-->
      <div id="welcome-section">
        <h1>Hello, world!</h1>
        <h2>I am Unyime</h2>
        <p class="special">A web developer</p>
      </div>
      <!--Projects-->
      <div id="projects">
        <div class="container">
          <h2 class="project-intro">Here are some of my projects</h2>
          <div class="row my-projects">
            <div class="col-md-4 project-tile" >
              <div class="card w-100" style="width: 18rem;">
                <img src="https://glwxpg.am.files.1drv.com/y4mtNS2r7NqveRNcuzjpaonFqEPd6T5UpFIC4QfN0taQVNHQrjamE8QfLV1ioXgxdudARUEQWK9pTjLGNd0JGla9jArgNMRH5ZsriBC9FLDAB9BOTRqAJd3iOirVfCLUFxneGBCahqHbudJC1g5orwRlL6I3HehxkDJndoXv4iEkXVkqzbjRwyh6bbBSnLE04H9r53vDnmG-0CoLUmpdmMqlw?width=1346&height=585&cropmode=none" class="card-img-top project-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Documentation Page</h5>
                  <a href="https://codepen.io/Unyime1/pen/qBEJRQb" class="btn btn-secondary" target="_blank">View on Codepen</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 project-tile">
              <div class="card w-100" style="width: 18rem;">
                <img src="https://gbwxpg.am.files.1drv.com/y4mLIVx4zAUswepNjRnPLqgj1Qji6cLpb_5YJqmq6AgLiRy2w14VBP-Y8lkkO8Q_RijypbmaEGdyqlPZBwNDZq33B9hBHTLrD8GPjBiJNYWc6haCp1QdL3YTs2RWHxEgTocQsYBRRr12LiXMzMN5JSUorsmrl4Fc7jxtKhYgXqbyz8ok1daR7kFZ35uLLpIuo-HzSxQlDKfLX2RptqfNIcccw?width=1347&height=589&cropmode=none" class="card-img-top project-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tribute Page</h5>
                  <a href="https://codepen.io/Unyime1/pen/MWYVWXo" class="btn btn-secondary" target="_blank">View on Codepen</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 project-tile">
              <div class="card w-100" style="width: 18rem;">
                <img src="https://ebzmgg.am.files.1drv.com/y4mwBmV8fczvSoTete-7vcDXzSLWaG6qsMeMWqtydwHXbfqBmWWvUYhluEBbfALn-5JzWQIUJ1fVBL_m9Um-RuGbpvGf3vVDkIkLDGxgcSjv4A5DsNv07z7bRoCWpKVtY-cJIscGSHhsOFk9Ad8i1K9v9bijPjop6o8f-IFm6EA9iclAb6iuj9tdapE5Jx1LSgqtnEsvY_TD2u3_lirJioVUQ?width=1349&height=589&cropmode=none" class="card-img-top project-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Landing Page</h5>
                  <a href="https://codepen.io/Unyime1/pen/QWwBavb" class="btn btn-secondary" target="_blank">View on Codepen</a>
                </div>
              </div>
            </div>
          </div>
          <a href="https://codepen.io/Unyime1/" class="btn btn-light" target="_blank">View more</a>
        </div>
        
      </div>
      <!--Contact Section-->
      <div id="contact-section">
        <div id="contact-section-header">
          <h2>Let's work together...</h2>
          <p class="special">How do you take your coffee?</p>
        </div>
        <div>
          <a href="https://github.com/unyime1" class="fa fa-github" id="profile-link" target="_blank"> Github</a>
          <a href="https://web.facebook.com/NestorX99" class="fa fa-facebook" id="profile-link" target="_blank"> Facebook</a>
          <a href="https://twitter.com/unyimeetim4" class="fa fa-twitter" id="profile-link" target="_blank"> Twitter</a>
          <a href="https://www.pinterest.com/etim0941/" class="fa fa-pinterest" id="profile-link" target="_blank"> Pinterest</a>
          <a href="mailto:lordunyime@gmail.com" class="fa fa-at" id="profile-link" target="_blank"> Email</a>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>