<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script  async src="https://www.googletagmanager.com/gtag/js?id=UA-154420062-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154420062-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&amp;display=swap" rel="stylesheet">

    <title>Unyime Etim</title>
    <title>{{ title }} | Unyime Etim</title>
    <meta content="" name="keywords">
    <meta content="Unyime Etim is where to turn to when you need the best technology insights, reviews, guides, and analysis covering the Windows 10 operating system." name="description">
    <meta name="robots" content="{{ directive }}">

    <script data-ad-client="ca-pub-4673042266155034" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="p:domain_verify" content="50e88eff3f6b7928366d8f2c19babd5e"/>

  </head>
  <body> 
   <!-- Image and text -->
   <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(10, 64, 114) !important;" id="navbar">
      <a class="navbar-brand special" href="#">Unyime Etim</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-texts">
          <a class="nav-item nav-link active" href="#welcome-section">About<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#contact-section">Contact</a>
          <li><a class="footer-links" href="{{ url_for('main.home') }}">Blog</a></li>
        </div>
      </div>
    </nav>

    <div>
      <!--  Welcome-->
        <div class="container">
            <div class="row">
               
                <div class="col-md-12" id="welcome-section">
                    <h1>Hi, I'm Unyime Etim!</h1>
                    <h2>Welcome to my blog</h2>
                    
                    <div class="intro-talk">
                        <p class="special">
                            I am a freelance Web developer, tech blogger, and a very proud Windows 10 fanatic. <a href="{{ url_for('main.about') }}">Learn more</a>.  
                        </p>
                        <p class="special">
                        I started this blog with the sole aim of becoming your number one source of technology insights, reviews, guides, and analysis covering the Windows 10 operating system.
                        </p>
                        <p class="special">
                            If you have any question, contribution, or just fancy saying hello, then feel free to contact me <a href="{{ url_for('main.contact') }}">here</a>. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
      
     
        <!--Contact Section-->
        <div id="contact-section">
            <div id="contact-section-header">
            <h2>Let's work together...</h2>
            <p class="special">Follow my channels for the latest post notifications.</p>
            </div>
            <div>
            <a href="https://github.com/unyime1" class="fa fa-github" id="profile-link" target="_blank"> Github</a>
            <a href="https://web.facebook.com/NestorX99" class="fa fa-facebook" id="profile-link" target="_blank"> Facebook</a>
            <a href="https://twitter.com/unyimeetim4" class="fa fa-twitter" id="profile-link" target="_blank"> Twitter</a>
            <a href="https://www.pinterest.com/etim0941/" class="fa fa-pinterest" id="profile-link" target="_blank"> Pinterest</a>
            <a href="mailto:lordunyime@gmail.com" class="fa fa-at" id="profile-link" target="_blank"> Email</a>
            </div>

            <!-- Begin Mailchimp Signup Form -->
            <div class="mailchimp">
                <h5 class="card-header">You can also have my latest guides delivered straight to your inbox!</h5>
                    <div class="card-body">
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="https://unyimeetim.us4.list-manage.com/subscribe/post?u=d505b41a21b1ce59858d53a06&amp;id=faddb34cc1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d505b41a21b1ce59858d53a06_faddb34cc1" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

          
      
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Cookie Consent by https://www.TermsFeed.com -->
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.0.0/cookie-consent.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"headline","consent_type":"implied","palette":"light","language":"en","website_name":"Unyime Etim"});
    });
    </script>

    <noscript>Cookie Consent by <a href="https://www.TermsFeed.com/">TermsFeed Generator</a></noscript>
    <!-- End Cookie Consent -->
  </body>
</html>